header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 5dvh;
  backdrop-filter: blur(8px);
}

.header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  font-size: large;
  z-index: 1;
}

.nav {
  margin: 0 auto;
}

ul.nav-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

main {
  padding-top: 5dvh;
}